@import "tailwindcss";

/* Esto es para que use la fuente Inter que se ve en tu calco */
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}